@{
    ViewBag.Title = "Both";
}
 

<h2>Category</h2>
@Html.Partial("CategoryPartial") 

<br/>
<br/>
<br/>
<br/>


<h2>Tasks</h2>
@Html.Partial("TaskPartial") 
<br/>
<br/>   

@section Javascript
{ 
    <script src="../../Scripts/knockout-2.1.0.debug.js" type="text/javascript"></script> 
    @Assets.Script(scriptFile: "CategoryPartial.js", area: "Knockout")  
    @Assets.Script(scriptFile: "TaskPartial.js", area: "Knockout") 

}
 