@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>





 
@section AdminPanel
{
    @if (ViewBag.HasAdminPanel)
    {
        <div id="adminPanelButtons">
            <a id="panelHide" class=" hand panelButton">Hide Panels</a>
            <a id="panelShow" class=" hand panelButton hidden">Show Panels</a>
        </div>
    
        <div id="adminPanel" class=""> 
            @Html.Partial("DetailPartial")  
        </div> 
    } 
}
 
 
@section AdminPanelScripts
{ 
    @if (ViewBag.HasAdminPanel)
    {
        @Assets.Script(scriptFile: "Partial.js", area: "Articles")   
        //@Assets.Script(scriptFile: "DetailPartial.js", area: "Articles")  
   
    } 
 }


